################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exam/obj/Debug
/Exam/bin
/packages
/.vs/VSWorkspaceState.json
/.vs/ProjectSkeleton-Git/v16
/.vs/ExamPrototype/v16/Server/sqlite3
