################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exam/obj/Debug
/Exam/bin
/packages
