
.qbox {
    box-shadow: 0px 0px 0px 1px;
    width: 68vw;
    float: left;
    height: auto;

}

.overview {
    float: left;
    box-shadow: 0px 0px 0px 1px;
    width: auto;
    margin-left: 50px;
    height: auto;
}

.numbers {
    margin-left: 5vw;
}

.qa {
    margin-left: 1vw;
    word-break: break-all;
    max-width: 200px;
}

.btn {
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-color: aqua;
    border-width: 1px;
    width: auto;
    height: 30px;
    font-size: 13px;
}

    .btn:hover {
        background-color: cornflowerblue;
    }

.options {
    text-align: center;
    width: 22.5vw;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-width: 1px;
}

.instr {
    margin-left: 1.5vw;
}

.instr1 {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: -10px;
    border: none;
}

.left {
    float: left;
    margin-right: -40px;
}

.time {
    float: right;
    margin-right: 290px;
}

@media(max-width:500px) {
    .left {
        float: none;
    }
}


.topnav {
    overflow: hidden;
    position: relative;
}

    .topnav #myLinks {
        display: none;
        background-color: red;
        background-color: red;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

        .topnav a.icon {
            background: black;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            visibility: hidden;
        }

@media (max-width:500px) {
    .topnav a.icon {
        visibility: visible;
    }

    #pvo {
        visibility: hidden;
    }
}

@media (max-width:1400px) {
    .qbox {
        margin-left: 13vw;
    }

    .overview {
        margin-left: 13vw;
        margin-top: 30px;
    }
}

